@import './variables';
@import 'vuetify/styles.scss';
@import './override';
@import './layout/text';
@import './layout/reboot';
@import './layout/container';
@import './layout/sidebar';
@import './layout/topbar';
@import './layout/dark';
@import './layout/customizer';
@import './layout/authentication';

@import './components/VAlert';
@import './components/VButtons';
@import './components/VCard';
@import './components/VCarousel';
@import './components/VField';
@import './components/VList';
@import './components/VInput';
@import './components/VNavigationDrawer';
@import './components/VShadow';
@import './components/VSwitch';
@import './components/VSelectionControl';
@import './components/VTextField';
@import './components/VTextarea';
@import './components/VTabs';
@import './components/VTable';
@import './components/VExpansionpanel';

@import 'vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css';

